JWT_SECRET=ahmed_eid_abdullah
JWT_EXPIRES_IN=1h
REDIS_URL=redis://localhost:6379
AUTH_SERVICE_URL=http://localhost:3002

AUTH_SERVICE_PORT=3002
API_GATEWAY_PORT=3010
WS_GATEWAY_A_PORT=3001
WS_GATEWAY_B_PORT=3003
WS_GATEWAY_C_PORT=3004
NGINX_PORT=80
GATEWAY_ID=gateway_a
CORS_ORIGIN=http://localhost:3020
CLIENT_PORT=3020
